/.settings
/.project
/.buildpath
/composer.phar
/vendor
/nbproject
build/*
!build/.gitkeep
/tests/composer-test.phar
blobs/*
!blobs/.gitkeep
phpunit.xml
debug.php
.phpunit.result.cache
.vagrant
Vagrantfile
.idea
.vscode
.php-cs-fixer.cache